.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    padding: 1rem;
}

.form-group:hover {
    box-shadow: 0 0.2rem 0.3rem #6c6b6b;
}

.form-group div {
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #131313;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group div label{
    margin-right : 0.5rem;
}

.form-group div input{
    border : 1px solid #131313;
    border-radius: 0.3rem;
    padding : 0.25rem;
}

#pre-book-button{
    margin : 1rem auto;
    font-family: "Poppins", sans-serif;
    width : 4rem;
    text-align: center;
}