.slick-slider{
    margin : 5rem auto;
    width : 90%;
    background-color: #131313;
    border-top-left-radius : 1rem;
    border-top-right-radius : 1rem;
}


.slide-heading{
    color : #ffffff;
    margin : 4rem 1rem;
}

.slick-prev:before, .slick-next:before{
    visibility: hidden;
}

.slick-dots{
    background-color: #131313;
    bottom : -3rem;
    padding-bottom : 1rem;
    margin : 0.5rem 0;
    border-bottom-left-radius : 1rem;
    border-bottom-right-radius : 1rem;
}

.slick-dots li{
    margin : 0 3px;
}

.slick-dots li button:before{
    color: #ffffff;
}

.slick-dots li.slick-active button:before{
    color : #F9ED32;
}