*{
    margin : 0;
    padding : 0;
}

h1,h2{
    font-family: "Poppins", sans-serif;
    color: #131313;
    font-size: 2.8rem;
    text-align: center;
    margin: 1.5rem 1rem;
    padding: 0.5rem 1rem;
}


.section-text{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color:#131313;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    font-size : 1.25rem;
}

a:hover{
    color :  #F9ED32;
}

.btn{
    width:6rem;
    background-color: #131313;
    border : 1px solid #131313;
    color: #FFFFFF;
    border-radius : 0.7rem;
    font-family: "Poppins", sans-serif;
    padding : 0.5rem 0.3rem;
    cursor : pointer;
}

.btn:hover{
    color:#F9ED32;
}

@media screen and (max-width : 460px) 
{
    h1,h2{
        font-size:2.42rem;
    }
}
